@using TestProject.Models
@model Person

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Experimental Create</title>
</head>
<body>
    <input asp-for="IdNumber" name="id" value="IdNumber" />
    <input asp-for="Name" name="name" value="Name" />
    <input type="submit" name="sava" value="Save" />
    

    </body>
</html>