@model TestProject.Models.Person

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Experimental Site</title>
</head>
<body>

    <h1>@Model.Name</h1>
    <h1>@Model.IdNumber</h1>

    </body>
</html>