@model OdeToFood.ViewModels.HomeIndexViewModel


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>TEST </title>
</head>
<body>
    <div>@Model.Message</div>
    <table>
        @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td>@restaurant.Id</td>
                <td>@restaurant.Name</td>
            </tr>
        }
    </table>

</body>
</html>