@model PersonApp.Models.Person
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>@Model.Id</h3>
    <h3>@Model.Name</h3>
    <a asp-action="Index">Back</a>
</body>
</html>